{{#renderall}}

<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.min.css"/>
<link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/question-api/question-api.min.css"/>
<script type="text/javascript">
  var baseUrl       = '{{ baseUrl  }}';
  var token         = '{{ token }}';
  var userToken     = '{{ user_token }}';
  var activityType  = 'practice';
  var sectionId     = '{{ section_id }}';
</script>
<style type="text/css">
  .progress:before {
    content:attr(data-text);
  }
  .progress {
    height: 2.5em;
    line-height: 2.5em;
    text-align:center;
    vertical-align: middle;
  }
  .monassis .icon{
    font-family: 'sv-ui-icon';
  }
  .icon{
    font-family: 'FontAwesome';
  }
  .progress-bar.bar{
    margin: 0;
  }
  .practice-section-question {
    display: flex;
    justify-content: space-between;
  }
  .item-psq {
  }
  .btn-dash { 
    width: 100%;
  }
</style>
  
<main class="sv-region-main emas sv practice-section-question">
  <div class="item-psq">
    <div id="monassis" class="monassis monassis--practice monassis--maths monassis--siyavula-api">
      <div class="question-wrapper">
        <div class="question-content"></div>
      </div>
    </div>
  </div>
  <div class="item-psq">
    
    <div class="sv-panel-wrapper sv-panel-wrapper--toc">
    <div class="sv-panel sv-panel--dashboard sv-panel--toc sv-panel--toc-modern no-secondary-section">
      <div class="sv-panel__header">
        <div class="sv-panel__title">
          Busy practising
        </div>
      </div>
      <div class="sv-panel__section sv-panel__section--primary" id="mini-dashboard-toc-primary">
        <div class="sv-panel__section-header">
          <div class="sv-panel__section-title">This exercise is from:</div>
        </div>
        <div class="sv-panel__section-body">
          <div class="sv-toc sv-toc--dashboard-mastery-primary">
            <ul class="sv-toc__chapters">
              <li class="sv-toc__chapter">
                <div class="sv-toc__chapter-header">
                  <div class="sv-toc__chapter-title"><span id="chapter-mastery-title"></span></div>
                  <div class="sv-toc__chapter-mastery">
                    <div class="sv-toc__section-mastery">
                      <progress class="progress" id="chapter-mastery" value="0" max="100" data-text="0%"></progress>
                    </div>
                  </div>
                </div>
                <div class="sv-toc__chapter-body">
                  <ul class="sv-toc__sections">
                      <li class="sv-toc__section ">
                        <div class="sv-toc__section-header">
                          <div class="sv-toc__section-title">
                            <span id="section-mastery-title"></span>
                          </div>
                          <div class="sv-toc__section-mastery">
                            <progress class="progress" id="section-mastery" value="0" max="100" data-text="0%"></progress><br>
                          </div>
                        </div>
                      </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href={{back_url}} ><button class='btn-dash'>Return to Dashboard</button></a>
  </div>
</main>

  
<script src="https://www.siyavula.com/static/themes/emas/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
<script src="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.js"></script>
{{/renderall}}
